<h1>Listado de productos carts</h1>
<p>El id del carrito es: {{this.id}}</p>
{{#each productos}}
    <p>Producto id: {{this.product._id}}</p> {{this.id}}
    <p>title: {{this.product.title}}</p>
    <p>id: {{this.product._id}}, description: {{this.product.description}}, code: {{this.product.code}}, price: {{this.product.price}}, status: {{this.product.status}}, stock: {{this.product.stock}}, category: {{this.product.category}}, thumbnail: {{this.product.thumbnail}}</p>
    <p>Cantidad: {{this.quantity}}</p><br>
{{/each}}