<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/products">Productos</a>
        {{#if isAdmin}}
        <a class="nav-link" href="/realTimeProducts">Administrar productos</a>
        <a class="nav-link" href="/users">Administrar Usuarios</a>
        {{/if}}
        {{#if isPremium}}
        <a class="nav-link" href="/realTimeProducts">Administrar productos</a>        
        {{/if}}        
      </div> 
      <div class="d-flex align-items-center mx-2"> 
        <a href="/profile"><i class="fa-solid fa-user"></i></a>
      </div>
      <div class="d-flex align-items-center mx-2"> 
        <a href="/chat"><i class="fa-solid fa-comments"></i></a>
      </div>     
    </div>    
  </div>
  <span class="ml-auto"><a href="/carts/{{user.cartId}}" id="cartId" data-cart-id="{{user.cartId}}">
  <i class="fas fa-shopping-cart"></i>
</a></span>  
</nav>

<a href="/products" class="btn btn-primary">Volver a Productos</a>
<h1>Detalles del carrito</h1>

<p id="cartId" data-cart-id={{user.cartId}}>ID del carrito: {{id}}</p>
<ul>
  {{#each productos}}
    {{!-- <div class="product">
    <p>{{this.idProducto}}-{{this.quantity}} {{this.name}} - {{this.price}}</p>
    <button class="btn btn-danger delete-product" data-product-id="{{this.idProducto}}">Eliminar</button>
    {{!-- <button class="btn btn-danger" data-product-id="{{this._id}}">Eliminar</button> --}}
  {{!-- </div> --}}
    <li>{{this.quantity}} {{this.name}} - {{this.price}}<button class="btn btn-danger delete-product" data-product-id="{{this.idProducto}}">Eliminar</button></li>
    
  {{/each}}
</ul>
{{!-- /le saque la comillas a {{}} --}}
<button id="clearCartButton" class="btn btn-danger" data-cart-id={{id}}>Vaciar carrito</button>

<button id="purchaseButton" class="btn btn-primary" data-cart-id={{id}}>Terminar compra</button>

<script src="/js/purchase.js"></script>
