
<h1>Detalles del carrito</h1>

<p>ID del carrito: {{id}}</p>
<ul>
  {{#each productos}}
    <li>{{this.quantity}} {{this.name}} - {{this.price}}</li>
  {{/each}}
</ul>
<button id="purchaseButton" data-cart-id={{id}}>Comprar</button>

<script src="/js/purchase.js"></script>
