{{!-- <h1>Listado de productos carts</h1>
<p>El id del carrito es: {{this.id}}</p>
  {{#each products}}
  <p>Producto id{{this.idProducto}}</p>
  <p>title{{this.title}}</p>
  <p>id: {{this.product._id}}, title: {{this.title}}, description: {{this.description}}, code: {{this.code}}, price: {{this.price}}, status: {{this.status}}, stock: {{this.stock}}, category: {{this.category}}, thumbnail: {{this.thumbnail}}</p><br>
      {{!-- <p>id: {{this.id}}</p>
      <p>title: {{this.title}}</p>
      <p>description: {{this.description}}</p>
      <p>code: {{this.code}}</p>
      <p>price: {{this.price}}</p>
      <p>status: {{this.status}}</p>
      <p>stock: {{this.stock}}</p>
      <p>category: {{this.category}}</p>
      <p>thumbnail: {{this.thumbnail}}</p><br>     --}}
  {{!-- {{/each}}  --}}
  <h1>Listado de productos carts</h1>
<p>El id del carrito es: {{this.id}}</p>
{{#each productos}}
    <p>Producto id: {{this.product._id}}</p>
    <p>title: {{this.product.title}}</p>
    <p>id: {{this.product._id}}, description: {{this.product.description}}, code: {{this.product.code}}, price: {{this.product.price}}, status: {{this.product.status}}, stock: {{this.product.stock}}, category: {{this.product.category}}, thumbnail: {{this.product.thumbnail}}</p>
    <p>Cantidad: {{this.quantity}}</p><br>
{{/each}}