<a href="/products" class="btn btn-primary">Volver a Productos</a>
<h1>Detalles del carrito</h1>

<p>ID del carrito: {{id}}</p>
<ul>
  {{#each productos}}
    <li>{{this.quantity}} {{this.name}} - {{this.price}}</li>
  {{/each}}
</ul>
<button id="purchaseButton" class="btn btn-primary" data-cart-id={{id}}>Terminar compra</button>

<script src="/js/purchase.js"></script>
