
<h1>Bienvenid@ {{user.nombreCompleto}}, conocé nuestros productos <a href="/api/sessions/logout" class="btn btn-primary">Cerrar sesión</a></h1><br>
<a href="/carts/{{user.cartId}}" class="btn btn-primary">Ver carrito</a>

{{#if user.role}}
<div class="text-center" style="background-color: red;"><h5>role: {{user.role}}</h5></div>
{{/if}}
<div class="row justify-content-center align-items-center">
  {{#each products}}
  <div class="col-xl-4 col-md-6 col-sm-12 mb-4"">
    <div class="card mx-auto" style="width: 14rem;">
      <img src="images/{{this.thumbnail}}"class="card-img-top" alt="image">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.description}}</p>
        <p class="card-text">$ {{this.price}}</p>
        <p></p>
        <a href="#" class="btn btn-primary"><button>agregar a carrito</button></a>
      </div>
    </div>
  </div>
  {{/each}} 
</div>

<div class="pagination-container d-flex justify-content-center align-items-end">
  {{#if hasPrevPage}}
    <div style="margin-right: 5px">
      <a href="/products?page={{prevPage}}&sort={{sort}}&limit={{limit}}" class="btn btn-primary">Anterior</a>
    </div>
  {{/if}}
  {{#if hasNextPage}}
    <div style="margin-left: 5px">
      <a href="/products?page={{nextPage}}&sort={{sort}}&limit={{limit}}" class="btn btn-primary">Siguiente</a>
    </div>
  {{/if}}
</div>
<div class="pagination-container d-flex justify-content-center align-items-end">
  <p style="margin-right: 5px">Pagina: {{page}}</p>
  <p style="margin-left: 5px">Total paginas: {{totalPages}}</p>
</div>


