<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/products">Total eSports</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/products">Productos</a>
        {{#if isAdmin}}
        <a class="nav-link" href="/realTimeProducts">Administrar productos</a>
        <a class="nav-link" href="/users">Administrar Usuarios</a>
        {{/if}}
        {{#if isPremium}}
        <a class="nav-link" href="/realTimeProducts">Administrar productos</a>        
        {{/if}}        
      </div> 
      <div class="d-flex align-items-center mx-2"> 
        <a href="/profile"><i class="fa-solid fa-user"></i></a>
      </div>
      <div class="d-flex align-items-center mx-2"> 
        <a href="/chat"><i class="fa-solid fa-comments"></i></a>
      </div>     
    </div>    
  </div>
  <span class="ml-auto"><a href="/carts/{{user.cartId}}" id="cartId" data-cart-id="{{user.cartId}}">
  <i class="fas fa-shopping-cart"></i>
</a></span>  
</nav>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-container p-4">
        <h2>Cargar producto</h2>owner:{{user}} 
        role:{{role}}
        <script>    
  </script>
<br>
<form method="post" id="productForm" enctype="multipart/form-data" >
        <label>Titulo</label>
        <input id="title" name="title" class="form-control"><br>

        <label>Descripcion</label>
        <input id="description" name="description" class="form-control"><br>

        <label>Codigo</label>
        <input id="code" name="code" class="form-control"><br>

        <label>Precio</label>
        <input id="price" name="price" type="number" class="form-control"><br>

        <label>Stock</label>
        <input id="stock" name="stock" type="number" class="form-control"><br>

        <label>Categoria</label>
        <input id="category" name="category" class="form-control"><br>

        <label>Imagenes</label>
        <input id="thumbnail" name="thumbnail" class="form-control" type="file"><br>

        <input id="enviar" type="submit" value="Cargar producto" class="btn btn-primary">          
      </div>
    </div>
  </div>
</div>
</form>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-container p-4">
        <h2>Eliminar producto</h2>
        <label>Ingresar Id</label>
        <input id="id" name="id" type="text" size="30" class="form-control"><br>
        <input id="eliminar" type="submit" value="Eliminar" class="btn btn-danger">
      </div>
    </div>
  </div>
  <br>

  <h2>Listado de productos en tiempo real </h2>
  <div id="inicio">
    {{#each products}}
      <p id="idn">id: {{this._id}}, title: {{this.title}}, description: {{this.description}}, code: {{this.code}}, price: {{this.price}}, status: {{this.status}}, stock: {{this.stock}}, category: {{this.category}}, owner: {{this.owner}}, thumbnail: {{this.thumbnail}}</p><br>
    {{/each}}
  </div>
  <p id="productos"></p>  
</div>
<script>
  const owner = "{{user}}";
  window.owner = owner;
</script>
<script>
  const role = "{{role}}";
  window.role = role;
</script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>